<div class="columns is-vcentered">
    <div class="column is-two-thirds">
        {{> TitleBar title="Poi App." subTitle="Sign up or Log in"}}
    </div>
    <div class="column">
        {{> WelcomeNavigator }}
    </div>
</div>

<div class="columns is-vcentered content">
    <div class="column has-text-centered">
        <img width="300" src="images/point-of-interest.png"/>
    </div>
    <div class="column">
        <h1 class="title">Poi App</h1>
        <p></p>
    </div>
</div>
