<div class="columns is-vcentered">
    <div class="column is-two-thirds">
        {{> TitleBar title="Poi App." subTitle=""}}
    </div>
    <div class="column">
        {{> MainNavigator }}
    </div>
</div>

<div class="columns">
    <div class="column has-text-centered">
        <img width="300" src="images/landmarks-positions-location-points-interest.jpeg">
    </div>
    <div class="column box has-text-centered">
        <h1 class="title is-4">Pois to date</h1>
        {{> CategoryList }}
    </div>
</div>
b